<a href="https://colab.research.google.com/github/BrendaCheyech/Project/blob/main/TEAM_1_PROJECT_DATA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# BUSINESSS UNDERSTANDING

# DATA UNDERSTANDING

# DATA PREPARATION

## 3.1 Importing Library

In [ ]:
# Importing pandas library
import pandas as pd
import numpy as np

## 3.2 Loading Datasets

In [ ]:
county_population = pd.read_csv('census2019populationcounty.csv')
county_population.head(5)

  COUNTY_PCODE COUNTY_NAME  ... Unnamed: 11 Unnamed: 12
0         KE01     Mombasa  ...         NaN         NaN
1         KE02       Kwale  ...         NaN         NaN
2         KE03      Kilifi  ...         NaN         NaN
3         KE04  Tana River  ...         NaN         NaN
4         KE05        Lamu  ...         NaN         NaN

[5 rows x 13 columns]

In [ ]:
health_facilities = pd.read_excel('KEN Health_Facilities.csv')
health_facilities.head(5)

   Facility Number  ...                                 Facility Type NAME
0               29  ...  Hospital Moh and Mission Districts, sub-districts
1               36  ...  Hospital Moh and Mission Districts, sub-districts
2               51  ...  Hospital Moh and Mission Districts, sub-districts
3               62  ...  Hospital Moh and Mission Districts, sub-districts
4               66  ...  Hospital Moh and Mission Districts, sub-districts

[5 rows x 15 columns]

In [ ]:
ICU_beds = pd.read_csv('KHF Data.csv')
ICU_beds.head(5)

      Cluster  ... ICU beds for General Patients(Public & Private)
0  North Rift  ...                                             6.0
1         NaN  ...                                             2.0
2         NaN  ...                                             0.0
3         NaN  ...                                             3.0
4         NaN  ...                                             NaN

[5 rows x 10 columns]

In [ ]:
county_cases = pd.read_csv('Cases_per_county.csv')
county_cases.head(5)

   S/N o        County  ... Cumulative Cases  Cases per 100,000 population
0    1.0  Nairobi City  ...           8618.0                         196.0
1    2.0       Mombasa  ...           1870.0                         154.8
2    3.0         Busia  ...            662.0                          74.1
3    4.0       Kajiado  ...            774.0                          69.2
4    5.0        Kiambu  ...            907.0                          37.5

[5 rows x 5 columns]

## 3.3 Renaming Columns

In [ ]:
#renaming columns
county_population.rename(columns = {'COUNTY_PCODE': 'County_PCODE', 'COUNTY_NAME': 'County', '2019_POPULATION': '2019_Population', 'MALE': 'Male', 'FEMALE': 'Female', 'TOTAL_HOUSEHOLDS': 'Total_Households', 'Density \n(Persons Per Sq. Km)' : 'Density'}, inplace = True)
#view 
print(county_population.columns)
county_population.head(5)

Index(['County_PCODE', 'County', '2019_Population', 'Male', 'Female',
       'Total_Households', 'Density', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12'],
      dtype='object')

  County_PCODE      County  ... Unnamed: 11 Unnamed: 12
0         KE01     Mombasa  ...         NaN         NaN
1         KE02       Kwale  ...         NaN         NaN
2         KE03      Kilifi  ...         NaN         NaN
3         KE04  Tana River  ...         NaN         NaN
4         KE05        Lamu  ...         NaN         NaN

[5 rows x 13 columns]

## 3.4 Dropping Columns and Rows

In [ ]:
# Dropping columns 'County_PCODE', 'Total_households' , 'Density (Persons Per Sq. Km'un
to_drop = county_population.columns.to_list()[7:]
to_drop.append('County_PCODE')
to_drop.append('Total_Households')
county_population.drop(to_drop, axis = 1, inplace= True)
county_population.head(5)

       County 2019_Population       Male     Female  Density
0     Mombasa      1,208,333    610,257    598,046    5,495
1       Kwale        866,820    425,121    441,681      105
2      Kilifi      1,453,787    704,089    749,673      116
3  Tana River        315,943    158,550    157,391        8
4        Lamu        143,920     76,103     67,813       23

In [ ]:
county_population.duplicated().sum()

13

In [ ]:
county_population.dropna(inplace=True)

In [ ]:
# Dropping columns 
health_facilities.drop(['Facility Number', 'HMIS',	'Province',	'District',	'Division',	'LOCATION', 'Constituency',	'Sub-Location',	'Spatial Reference Method',	'Facility Type',	'Agency',	'Geolocation',	'Facility Type NAME'], axis = 1, inplace = True)
health_facilities.head(5)

                  Facility Name  County
0      KIAMBU DISTRICT HOSPITAL  KIAMBU
1               KIJABE HOSPITAL  KIAMBU
2             NAZARETH HOSPITAL  KIAMBU
3      P.C.E.A. KIKUYU HOSPITAL  KIAMBU
4  TIGONI SUB-DISTRICT HOSPITAL  KIAMBU

In [ ]:
health_facilities.isnull().sum()

Facility Name       2
County           1907
dtype: int64

In [ ]:
health_facilities.dropna(inplace=True)

In [ ]:
health_facilities.duplicated().sum()

27

In [ ]:
health_facilities.drop_duplicates(inplace=True)

In [ ]:
# Drop Column: 'Cluster'
ICU_beds.drop('Cluster', axis = 1, inplace = True)
ICU_beds.head()

            County  ... ICU beds for General Patients(Public & Private)
0  Elgeyo Marakwet  ...                                             6.0
1            Nandi  ...                                             2.0
2         Tranzoia  ...                                             0.0
3          Turkana  ...                                             3.0
4          Turkana  ...                                             NaN

[5 rows x 9 columns]

In [ ]:

#Drop rows with the following in the county column
ICU_beds = ICU_beds[~ICU_beds.County.isin(['Regional Subtotal','Regional Sub Total','Regional Sub-total'])]

In [ ]:
ICU_beds.duplicated().any()

False

In [ ]:
ICU_beds.dropna(subset=['County'], inplace=True)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
ICU_beds.isnull().sum()

County                                              0
Facility Name                                       1
Regular Isolation Beds Available                    1
Regular Isolation Beds Recommended                  1
Available ICU/Critical Care bed for Isolation       1
Recommended ICU/Critical beds for Isolation         1
Ventilators Available for Isoation                 75
Ventilators Recommended for Isolation              15
ICU beds for General Patients(Public & Private)    57
dtype: int64

In [ ]:
# Drop column: 'S/N o'
county_cases.drop('S/N o', axis = 1, inplace = True)
county_cases.head(5)

         County  ... Cases per 100,000 population
0  Nairobi City  ...                        196.0
1       Mombasa  ...                        154.8
2         Busia  ...                         74.1
3       Kajiado  ...                         69.2
4        Kiambu  ...                         37.5

[5 rows x 4 columns]

In [ ]:
county_cases.duplicated().sum()

0

In [ ]:
county_cases.isnull().sum()

County                          0
Population (2019Census KNBS)    0
Cumulative Cases                0
Cases per 100,000 population    0
dtype: int64

In [ ]:
county_cases.dropna(subset=['County'], inplace=True)

In [ ]:
county_cases.shape

(44, 4)

## 3.5 Merge the four Datasets to one main Dataframe

In [ ]:
matched_counties = set(county_population.County.to_list()).intersection(set(county_cases.County.to_list()))
len(matched_counties)

41

In [ ]:
set(county_population.County.to_list()).difference(set(county_cases.County.to_list()))

{'Baringo',
 'Elgeyo-Marakwet',
 'Nairobi',
 'Samburu',
 'Taita Taveta',
 'West Pokot'}

In [ ]:
set(county_cases.County.to_list()).difference(set(county_population.County.to_list()))

set()

In [ ]:
county_cases['County'].replace({'Elgeyo/Marakwet':'Elgeyo-Marakwet','Nairobi City':'Nairobi','Taita/Taveta':'Taita Taveta'},inplace=True)

In [ ]:
pop_cases = pd.merge(county_cases, county_population, on='County')

In [ ]:
pop_cases.drop(['Population (2019Census KNBS)'], axis=1, inplace=True)
pop_cases.head()

    County  Cumulative Cases  ...       Female  Density
0  Nairobi            8618.0  ...   2,204,376    6,247
1  Mombasa            1870.0  ...     598,046    5,495
2    Busia             662.0  ...     467,401      526
3  Kajiado             774.0  ...     560,704       51
4   Kiambu             907.0  ...   1,230,454      952

[5 rows x 7 columns]

In [ ]:
hospital_count = pd.DataFrame({'County Name': health_facilities.groupby(['County'])['Facility Name'].count().index, 'hospital_count':health_facilities.groupby(['County'])['Facility Name'].count()})
hospital_count.reset_index(inplace=True)
hospital_count.drop(['County Name'], axis=1,inplace=True)
hospital_count.head()

             County  hospital_count
0           BARINGO             115
1             BOMET              77
2           BUNGOMA              88
3             BUSIA              81
4  ELEGEYO-MARAKWET              78

In [ ]:
pop_cases['County'] = pop_cases['County'].str.upper()

In [ ]:
set(hospital_count.County.to_list()).difference(set(pop_cases.County.to_list()))

{'BARINGO', 'ELEGEYO-MARAKWET', 'SAMBURU', 'THARAKA - NITHI', 'WEST POKOT'}

In [ ]:
set(pop_cases.County.to_list()).difference(set(hospital_count.County.to_list()))

{'ELGEYO-MARAKWET', 'THARAKA-NITHI'}

In [ ]:
hospital_count['County'].replace({'ELEGEYO-MARAKWET':'ELGEYO-MARAKWET', 'THARAKA - NITHI': 'THARAKA-NITHI'}, inplace=True)

In [ ]:
set(pop_cases.County.to_list()).difference(set(hospital_count.County.to_list()))

set()

In [ ]:
hospital_cases = pd.merge(pop_cases, hospital_count, on='County')

In [ ]:
hospital_cases.head()

    County  Cumulative Cases  ...  Density hospital_count
0  NAIROBI            8618.0  ...   6,247             170
1  MOMBASA            1870.0  ...   5,495             129
2    BUSIA             662.0  ...     526              81
3  KAJIADO             774.0  ...      51             114
4   KIAMBU             907.0  ...     952             165

[5 rows x 8 columns]

In [ ]:
rec_beds = pd.DataFrame({'Isolation_beds':ICU_beds.groupby(['County'])['Regular Isolation Beds Available'].sum(), 'Recommended_beds':ICU_beds.groupby(['County'])['Regular Isolation Beds Recommended'].sum()})
rec_beds.reset_index(inplace=True)

In [ ]:
rec_beds.County = rec_beds.County.str.upper()

In [ ]:
set(hospital_cases.County.to_list()).difference(set(rec_beds.County.to_list()))

{'ELGEYO-MARAKWET',
 'KWALE',
 "MURANG'A",
 'THARAKA-NITHI',
 'TRANS NZOIA',
 'UASIN GISHU'}

In [ ]:
set(rec_beds.County.to_list()).difference(set(hospital_cases.County.to_list()))

{'BARINGO',
 'ELGEYO MARAKWET',
 'MURANGA',
 'SAMBURU',
 'THARAKA NITHI',
 'TRANZOIA',
 'UASIN GICHU',
 'WEST POKOT'}

In [ ]:
rec_beds['County'].replace({'ELGEYO MARAKWET':'ELGEYO-MARAKWET','THARAKA NITHI': 'THARAKA-NITHI','TRANZOIA':'TRANS NZOIA','MURANGA':"MURANG'A", 'UASIN GICHU':'UASIN GISHU'}, inplace=True)

In [ ]:
final_df = pd.merge(hospital_cases, rec_beds, on='County')

In [ ]:
final_df.head()

    County  Cumulative Cases  ...  Isolation_beds Recommended_beds
0  NAIROBI            8618.0  ...           582.0            716.0
1  MOMBASA            1870.0  ...            25.0             90.0
2    BUSIA             662.0  ...           100.0             20.0
3  KAJIADO             774.0  ...            28.0             40.0
4   KIAMBU             907.0  ...            34.0            120.0

[5 rows x 10 columns]

In [ ]:
final_df.dtypes

County                           object
Cumulative Cases                float64
Cases per 100,000 population    float64
2019_Population                  object
Male                             object
Female                           object
Density                          object
hospital_count                    int64
Isolation_beds                  float64
Recommended_beds                float64
dtype: object

In [ ]:
final_df['bed_preparedness'] = final_df.Recommended_beds - final_df.Isolation_beds

In [ ]:
final_df['bed_surplus_rank'] = final_df['bed_preparedness'].rank(ascending=True)

In [ ]:
final_df

0     43.0
1     40.0
2      1.0
3     22.5
4     42.0
5     36.0
6      7.5
7     31.5
8     41.0
9     10.5
10    33.5
11     2.0
12    12.5
13     3.0
14    24.5
15    16.5
16    35.0
17    19.0
18    37.0
19    22.5
20     9.0
21    29.0
22    24.5
23    31.5
24     7.5
25    12.5
26    16.5
27    27.5
28    33.5
29    27.5
30     6.0
31     5.0
32    30.0
33    18.0
34    39.0
35    20.5
36    20.5
37     4.0
38    14.0
39    26.0
40    38.0
41    15.0
42    10.5
Name: bed_preparedness, dtype: float64

In [ ]:
# drop duplicate column: 'Population (2019Census KNBS)'
covid_df.drop('Population (2019Census KNBS)', axis = 1, inplace= True)
covid_df

               County                    Facility Name  ...       Male     Female
0     Elgeyo Marakwet     Iten Couty Referral Hospital  ...        NaN        NaN
1               Nandi      Nandi Hills County Hospital  ...        NaN        NaN
2            Tranzoia                Mt.Elgon Hospital  ...        NaN        NaN
3             Turkana  Lodwar County Referral Hospital  ...        NaN        NaN
4                 NaN     Lopiding Sub-County Hospital  ...        NaN        NaN
...               ...                              ...  ...        ...        ...
6931         Homa Bay                              NaN  ...    539,560    592,367
6932           Migori                              NaN  ...    536,187    580,214
6933            Kisii                              NaN  ...    605,784    661,038
6934          Nyamira                              NaN  ...    290,907    314,656
6935          Nairobi                              NaN  ...  2,192,452  2,204,376

[6936 rows x 14 columns]

## 3.6 Identifying duplicates

In [ ]:
# Identify duplicates
covid_df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
6931    False
6932    False
6933    False
6934    False
6935    False
Length: 6936, dtype: bool

In [ ]:
# Dropping duplicates
covid_df.drop_duplicates(keep = False)

               County                    Facility Name  ...       Male     Female
0     Elgeyo Marakwet     Iten Couty Referral Hospital  ...        NaN        NaN
1               Nandi      Nandi Hills County Hospital  ...        NaN        NaN
2            Tranzoia                Mt.Elgon Hospital  ...        NaN        NaN
3             Turkana  Lodwar County Referral Hospital  ...        NaN        NaN
4                 NaN     Lopiding Sub-County Hospital  ...        NaN        NaN
...               ...                              ...  ...        ...        ...
6931         Homa Bay                              NaN  ...    539,560    592,367
6932           Migori                              NaN  ...    536,187    580,214
6933            Kisii                              NaN  ...    605,784    661,038
6934          Nyamira                              NaN  ...    290,907    314,656
6935          Nairobi                              NaN  ...  2,192,452  2,204,376

[6809 rows x 14 columns]

## 3.7 Identifying and dropping null Values

In [ ]:
# Identifying null values
covid_df.isnull().sum()

County                                             1944
Facility Name                                        96
Regular Isolation Beds Available                   6856
Regular Isolation Beds Recommended                 6856
Available ICU/Critical Care bed for Isolation      6856
Recommended ICU/Critical beds for Isolation        6856
Ventilators Available for Isoation                 6930
Ventilators Recommended for Isolation              6869
ICU beds for General Patients(Public & Private)    6911
Cumulative Cases                                   6892
Cases per 100,000 population                       6892
2019_Population                                    6889
Male                                               6889
Female                                             6889
dtype: int64

In [ ]:
# Dropping null values
covid_df.dropna(how = 'all')

               County                    Facility Name  ...       Male     Female
0     Elgeyo Marakwet     Iten Couty Referral Hospital  ...        NaN        NaN
1               Nandi      Nandi Hills County Hospital  ...        NaN        NaN
2            Tranzoia                Mt.Elgon Hospital  ...        NaN        NaN
3             Turkana  Lodwar County Referral Hospital  ...        NaN        NaN
4                 NaN     Lopiding Sub-County Hospital  ...        NaN        NaN
...               ...                              ...  ...        ...        ...
6941         Homa Bay                              NaN  ...    539,560    592,367
6942           Migori                              NaN  ...    536,187    580,214
6943            Kisii                              NaN  ...    605,784    661,038
6944          Nyamira                              NaN  ...    290,907    314,656
6945          Nairobi                              NaN  ...  2,192,452  2,204,376

[6943 rows x 14 columns]

In [ ]:
# fill the null values with "-"
covid_df.fillna("-")

               County                    Facility Name  ...       Male     Female
0     Elgeyo Marakwet     Iten Couty Referral Hospital  ...          -          -
1               Nandi      Nandi Hills County Hospital  ...          -          -
2            Tranzoia                Mt.Elgon Hospital  ...          -          -
3             Turkana  Lodwar County Referral Hospital  ...          -          -
4                   -     Lopiding Sub-County Hospital  ...          -          -
...               ...                              ...  ...        ...        ...
6941         Homa Bay                                -  ...    539,560    592,367
6942           Migori                                -  ...    536,187    580,214
6943            Kisii                                -  ...    605,784    661,038
6944          Nyamira                                -  ...    290,907    314,656
6945          Nairobi                                -  ...  2,192,452  2,204,376

[6946 rows x 14 columns]

# DATA ANALYSIS

# RECOMMENDATION